
/* .inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
} */

body {
    width: 100vw;
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-size: 1.75vw;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHeader {
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    width: 80vw;
    text-align: center;
}

.bodySection {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.leftDiv {
    margin-bottom: 1.5vw;
}

.pokeImage {
    width: 20vw;
    border-width: 0.25vw;
    border-color: black;
    border-style: solid;
    padding: 1.25vw;
}

.pokeName {
    background-color: #E8E8E8;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    padding: 0.5vw;
    border-radius: 0.5vw;
}

.typesParagraph {
    font-size: 1.25vw;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.7vw;
}

.pokeTypesContainer {
    display: flex;
    justify-content: flex-start;
}

.pokeType {
    font-size: 1.25vw;
    padding: 0.35vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    text-align: center;
    border-radius: 0.5vw;
    margin-right: 0.8vw;
}

.arrows {
    display: flex;
    justify-content: space-evenly;
}

.arrowButton {
    background-color: #E8E8E8;
    border-style: none;
    border-radius: 0.5vw;
    padding-left: 2.25vw;
    padding-right: 2.25vw;
    display: flex;
    align-items: center;
}

.arrowButton:hover {
    background-color: #E0E0E0;
}

.arrowButton:active {
    background-color: #D0D0D0;
}

.arrowImage {
    height: 3vw;
}

#rightArrow {
    transform: scaleX(-1);
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoMovesParagraph {
    text-align: center;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.7vw;
}

.infoMovesBox {
    width: 20vw;
    height: 26vw;
    padding: 1.25vw;
    background-color: #E8E8E8;
}

.infoMovesButtons {
    display: flex;
    justify-content: space-evenly;
}

.infoMovesButton {
    background-color: #E8E8E8;
    font-size: 1.75vw;
    font-weight: 300;
    border-style: none;
    border-radius: 0.5vw;
    width: 8vw;
    height: 3.5vw;
    text-align: center;
}

.hidden {
    display: none;
}

.selectedButton {
    background-color: #7CFF79;
}

.unselectedButton:hover {
    background-color: #E0E0E0;
}